<section id="about">
  <div class="container center">
    <h3>About</h3>
    <p>
      Studio Saber is a Photography Studio owned by Moez Ishak and located in Bizerte in the north of Tunisia.
      The Studio is well known in the region and has its own client base.
      Studio Saber is specialized in Wedding Photography but also does other events like Parties, Concerts, PhotoShoots, Seminars, School Photos, etc.
      The Studio offers several other services for the clients like Equipment Renting, Photo Editing, Video Montage and even Advertisement Posters Design.
    </p>
  </div>
</section>
