<header>
  <div class="container">
    <div class="intro">
      <div class="intro-welcome"> Welcome to our Photography Studio </div>
      <div class="intro-help-you"> How can we help you ? </div>
      <a href="#book-event" class="page-scroll btn btn-xl">Book a Photographer</a>
      <a href="#rent-equip" class="page-scroll btn btn-xl">Rent Equipment</a>
    </div>
  </div>
</header>
