<header>
  <div class="container">
    <div class="intro">
      <div class="intro-welcome"> Welcome to our Photography Studio </div>
      <div class="intro-help-you"> How can we help you ? </div>
      <a href="#book-event" class="page-scroll btn btn-xl"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Book a Photographer</a>
      <a href="#rent-equip" class="page-scroll btn btn-xl"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Rent Equipment</a>
    </div>
  </div>
</header>
