<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body ng-app="app">
    <% include ../partials/admin/admin-side-bar.ejs %>
    <div id="page-wrapper">
      <% include ../partials/admin/staff-form.ejs %>
      <% include ../partials/admin/equipment-form.ejs %>
    </div>
  </body>
</html>
