<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>

<body ng-app="app" ng-controller="Main as main">

  <% include ../partials/nav.ejs %>
  <% include ../partials/login.ejs %>
  <% include ../partials/header.ejs %>
  <% include ../partials/services.ejs %>
  <% include ../partials/findus.ejs %>

</body>
</html>
