<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>

<body ng-app="app">
  <title>Studio Saber - Photography Studio</title>
  <% include ../partials/nav.ejs %>
  <% include ../partials/login.ejs %>
  <% include ../partials/header.ejs %>
  <% include ../partials/event.ejs %>
  <% include ../partials/equipment.ejs %>
  <% include ../partials/services.ejs %>
  <% include ../partials/portfolio.ejs %>
  <% include ../partials/staff.ejs %>
  <% include ../partials/findus.ejs %>

  <!-- Browsersync for faster and easier front-end testing -->
  <script id="__bs_script__">//<![CDATA[
      document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.11'><\/script>".replace("HOST", location.hostname));
  //]]></script>

</body>
</html>
