<div class="navbar navbar-default navbar-fixed-side" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="#client-list">Clients List</a>
      </li>
      <li>
        <a href="#staff-list">Staff List</a>
      </li>
      <li>
        <a href="#staff-form">Add Staff</a>
      </li>
      <li>
        <a href="#equipment-form">Add Equipment</a>
      </li>
    </ul>
  </div>
</div>
